function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
if-goto IF-TRUE0
goto IF-FALSE1
label IF-TRUE0
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto IF-END2
label IF-FALSE1
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label IF-END2
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
if-goto IF-TRUE3
goto IF-FALSE4
label IF-TRUE3
push this 4
push this 5
add
pop this 4
goto IF-END5
label IF-FALSE4
push this 4
push this 6
add
pop this 4
push this 9
if-goto IF-TRUE6
goto IF-FALSE7
label IF-TRUE6
push this 7
if-goto IF-TRUE9
goto IF-FALSE10
label IF-TRUE9
push this 0
push constant 4
add
pop this 0
goto IF-END11
label IF-FALSE10
push this 1
push constant 4
add
pop this 1
label IF-END11
goto IF-END8
label IF-FALSE7
push this 7
if-goto IF-TRUE12
goto IF-FALSE13
label IF-TRUE12
push this 0
push constant 4
sub
pop this 0
goto IF-END14
label IF-FALSE13
push this 1
push constant 4
sub
pop this 1
label IF-END14
label IF-END8
label IF-END5
push this 8
if-goto IF-TRUE15
goto IF-FALSE16
label IF-TRUE15
push this 7
if-goto IF-TRUE18
goto IF-FALSE19
label IF-TRUE18
push this 1
push constant 4
add
pop this 1
goto IF-END20
label IF-FALSE19
push this 0
push constant 4
add
pop this 0
label IF-END20
goto IF-END17
label IF-FALSE16
push this 7
if-goto IF-TRUE21
goto IF-FALSE22
label IF-TRUE21
push this 1
push constant 4
sub
pop this 1
goto IF-END23
label IF-FALSE22
push this 0
push constant 4
sub
pop this 0
label IF-END23
label IF-END17
push this 0
push this 10
gt
not
if-goto IF-TRUE24
goto IF-FALSE25
label IF-TRUE24
push constant 1
pop this 14
push this 10
pop this 0
goto IF-END26
label IF-FALSE25
label IF-END26
push this 0
push this 11
lt
not
if-goto IF-TRUE27
goto IF-FALSE28
label IF-TRUE27
push constant 2
pop this 14
push this 11
pop this 0
goto IF-END29
label IF-FALSE28
label IF-END29
push this 1
push this 12
gt
not
if-goto IF-TRUE30
goto IF-FALSE31
label IF-TRUE30
push constant 3
pop this 14
push this 12
pop this 1
goto IF-END32
label IF-FALSE31
label IF-END32
push this 1
push this 13
lt
not
if-goto IF-TRUE33
goto IF-FALSE34
label IF-TRUE33
push constant 4
pop this 14
push this 13
pop this 1
goto IF-END35
label IF-FALSE34
label IF-END35
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
if-goto IF-TRUE36
goto IF-FALSE37
label IF-TRUE36
push constant 10
pop local 4
goto IF-END38
label IF-FALSE37
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
if-goto IF-TRUE39
goto IF-FALSE40
label IF-TRUE39
push constant 20
pop local 4
goto IF-END41
label IF-FALSE40
push constant 5
pop local 4
label IF-END41
label IF-END38
push this 14
push constant 1
eq
if-goto IF-TRUE42
goto IF-FALSE43
label IF-TRUE42
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF-END44
label IF-FALSE43
push this 14
push constant 2
eq
if-goto IF-TRUE45
goto IF-FALSE46
label IF-TRUE45
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF-END47
label IF-FALSE46
push this 14
push constant 3
eq
if-goto IF-TRUE48
goto IF-FALSE49
label IF-TRUE48
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto IF-END50
label IF-FALSE49
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label IF-END50
label IF-END47
label IF-END44
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
